<mat-card>
    <mat-card-header>
        <mat-card-title>{{subjectName}}</mat-card-title>
        <mat-card-subtitle>{{level}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Tutor: <br> <strong>{{tutor}}</strong>

        <br>
        <br> Fee: <br> <strong>INR {{fee}}/{{chargedPer}}</strong>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="this.router.navigate(['/app/profile'], {queryParams: {userId: this.userId}})" mat-button>View Tutor Profile</button>
    </mat-card-actions>
</mat-card>