mat-tab-group {
    padding: 0 16px;
}

mat-form-field {
    width: 100%;
}

.flex-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.solidButton {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 0.75rem;
    color: white;
}

.solidButton-error {
    width: 100%;
    background-color: var(--error-red);
    color: white;
}

.details-card {
    min-width: 300px;
    background-color: var(--primary-color);
    color: white;
}

.delete-section {
    text-align: center;
}

.delete-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--error-red);
    color: #fff;
}