<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Details">
        <div class="flex-container">
            <div>
                <mat-card class="details-card">
                    <mat-card-header>
                        <mat-card-title>{{details?.userDetails?.username || ''}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <br> <br> email: <br> <strong>{{details?.userDetails?.email}}</strong>
                            <br> <br> mobile: <br><strong>{{details?.userDetails?.mobile}}</strong>
                            <br> <br> dob: <br> <strong>{{details?.userDetails?.dob}}</strong>
                        </p>
                        <div class="delete-section">
                        <button class="delete-button" (click)="deleteUser()">Delete User</button>
                    </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab *ngIf="details?.teacherDetails" label="Courses">
        <div class="flex-container">
            <div>

                <div *ngFor="let course of details?.courseDetails">
                    <app-subject-card (clickOutput)="deleteCourse($event)" [courseId]="course.course_id" [subjectName]="course.course_name" [fee]="course.fee" [level]="course.level" [chargedPer]="course.charged_per" [editableView]="editableView"></app-subject-card>
                    <br>
                </div>

                <button *ngIf="editableView" (click)="openDialog()" mat-flat-button color="primary" class="solidButton">Add Subject</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>